@import 'variables';
@import 'fonts';
body {
    font-family: 'Montserrat', sans-serif;
}
.navbar-default {
    background-color: #fff;
    border-color: #FFF;
}
.top-text, .top-text>a {
    color: #DA77F2 !important;
}
.top-text:hover, .top-text>a:hover {
    color: #F3D9FA !important;
}
.login-button {
    margin-left: 20px;
}